In [1]:
%matplotlib inline

In [2]:
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np

In [3]:
happiness2017_path = "Resources/2017.csv"
happiness2018_path = "Resources/2018.csv"
happiness2019_path = "Resources/2019.csv"
happiness2020_path = "Resources/2020.csv"
happiness2021_path = "Resources/2021.csv"

happiness2017 = pd.read_csv(happiness2017_path)
happiness2018 = pd.read_csv(happiness2018_path)
happiness2019 = pd.read_csv(happiness2019_path)
happiness2020 = pd.read_csv(happiness2020_path)
happiness2021 = pd.read_csv(happiness2021_path)

happiness2021.head(1)

,Country,Regional indicator,Ladder Score,Standard error of ladder score,upperwhisker,lowerwhisker,GDP,Social support,Life Expectancy,Freedom,...,Perceptions of corruption,Ladder score in Dystopia,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual,Year
0,Finland,Western Europe,7.842,0.032,7.904,7.78,10.775,0.954,72.0,0.949,...,0.186,2.43,1.446,1.106,0.741,0.691,0.124,0.481,3.253,2021

In [4]:
combined_df = pd.merge(
    happiness2017, happiness2018, how = "left", on=["Country"])

combined_df = combined_df.rename(columns={"Ladder Score_x":"Ladder Score 2017",
                                                              "GDP_x":"GDP 2017",
                                                              "Generosity_x":"Generosity 2017",
                                                              "Freedom_x":"Freedom 2017",
                                                              "Year_x":"Year 2017",
                                                              "Life Expectancy_x":"Life Expectancy 2017",
                                                              "Ladder Score_y":"Ladder Score 2018",
                                                              "GDP_y":"GDP 2018",
                                                              "Generosity_y":"Generosity 2018",
                                                              "Freedom_y":"Freedom 2018",
                                                              "Year_y":"Year 2018",
                                                              "Life Expectancy_y":"Life Expectancy 2018"})

combined_df.head()

,Country,Unnamed: 1,Ladder Score 2017,Whisker.high,Whisker.low,GDP 2017,Family,Life Expectancy 2017,Freedom 2017,Generosity 2017,...,Year 2017,Overall rank,Ladder Score 2018,GDP 2018,Social support,Life Expectancy 2018,Freedom 2018,Generosity 2018,Perceptions of corruption,Year 2018
0,Norway,1,7.537,7.594445,7.479556,1.616463,1.533524,0.796667,0.635423,0.362012,...,2017,2.0,7.594,1.456,1.582,0.861,0.686,0.286,0.340,2018.0
1,Denmark,2,7.522,7.581728,7.462272,1.482383,1.551122,0.792566,0.626007,0.355280,...,2017,3.0,7.555,1.351,1.590,0.868,0.683,0.284,0.408,2018.0
2,Iceland,3,7.504,7.622030,7.385970,1.480633,1.610574,0.833552,0.627163,0.475540,...,2017,4.0,7.495,1.343,1.644,0.914,0.677,0.353,0.138,2018.0
3,Switzerland,4,7.494,7.561772,7.426227,1.564980,1.516912,0.858131,0.620071,0.290549,...,2017,5.0,7.487,1.420,1.549,0.927,0.660,0.256,0.357,2018.0
4,Finland,5,7.469,7.527542,7.410458,1.443572,1.540247,0.809158,0.617951,0.245483,...,2017,1.0,7.632,1.305,1.592,0.874,0.681,0.202,0.393,2018.0

In [5]:
combined_df = pd.merge(
    combined_df, happiness2019, how = "left", on=["Country"])

combined_df = combined_df.rename(columns={"Ladder Score":"Ladder Score 2019",
                                                              "GDP":"GDP 2019",
                                                              "Generosity":"Generosity 2019",
                                                              "Freedom":"Freedom 2019",
                                                              "Year":"Year 2019",
                                                             "Life Expectancy":"Life Expectancy 2019"})
combined_df

,Country,Unnamed: 1,Ladder Score 2017,Whisker.high,Whisker.low,GDP 2017,Family,Life Expectancy 2017,Freedom 2017,Generosity 2017,...,Overall rank_y,Ladder Score 2019,GDP 2019,Social support_y,Life Expectancy 2019,Freedom 2019,Generosity 2019,Perceptions of corruption_y,Unnamed: 9,Year 2019
0,Norway,1,7.537,7.594445,7.479556,1.616463,1.533524,0.796667,0.635423,0.362012,...,3.0,7.554,1.488,1.582,1.028,0.603,0.271,0.341,NaN,2019.0
1,Denmark,2,7.522,7.581728,7.462272,1.482383,1.551122,0.792566,0.626007,0.355280,...,2.0,7.600,1.383,1.573,0.996,0.592,0.252,0.410,NaN,2019.0
2,Iceland,3,7.504,7.622030,7.385970,1.480633,1.610574,0.833552,0.627163,0.475540,...,4.0,7.494,1.380,1.624,1.026,0.591,0.354,0.118,NaN,2019.0
3,Switzerland,4,7.494,7.561772,7.426227,1.564980,1.516912,0.858131,0.620071,0.290549,...,6.0,7.480,1.452,1.526,1.052,0.572,0.263,0.343,NaN,2019.0
4,Finland,5,7.469,7.527542,7.410458,1.443572,1.540247,0.809158,0.617951,0.245483,...,1.0,7.769,1.340,1.587,0.986,0.596,0.153,0.393,NaN,2019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150,Rwanda,151,3.471,3.543030,3.398970,0.368746,0.945707,0.326425,0.581844,0.252756,...,152.0,3.334,0.359,0.711,0.614,0.555,0.217,0.411,NaN,2019.0
151,Syria,152,3.462,3.663669,3.260331,0.777153,0.396103,0.500533,0.081539,0.493664,...,149.0,3.462,0.619,0.378,0.440,0.013,0.331,0.141,NaN,2019.0
152,Tanzania,153,3.349,3.461430,3.236570,0.511136,1.041990,0.364509,0.390018,0.354256,...,153.0,3.231,0.476,0.885,0.499,0.417,0.276,0.147,NaN,2019.0
153,Burundi,154,2.905,3.074690,2.735310,0.091623,0.629794,0.151611,0.059901,0.204435,...,145.0,3.775,0.046,0.447,0.380,0.220,0.176,0.180,NaN,2019.0
154,Central African Republic,155,2.693,2.864884,2.521116,0.000000,0.000000,0.018773,0.270842,0.280876,...,155.0,3.083,0.026,0.000,0.105,0.225,0.235,0.035,NaN,2019.0

In [6]:
combined_df = pd.merge(
    combined_df, happiness2020, how = "left", on=["Country"])

combined_df = combined_df.rename(columns={"Ladder Score":"Ladder Score 2020",
                                                              "GDP":"GDP 2020",
                                                              "Generosity":"Generosity 2020",
                                                              "Freedom":"Freedom 2020",
                                                              "Year":"Year 2020",
                                                             "Life Expectancy":"Life Expectancy 2020"})
combined_df

,Country,Unnamed: 1,Ladder Score 2017,Whisker.high,Whisker.low,GDP 2017,Family,Life Expectancy 2017,Freedom 2017,Generosity 2017,...,Generosity 2019,Perceptions of corruption_y,Unnamed: 9,Year 2019,Ladder Score 2020,GDP 2020,Life Expectancy 2020,Freedom 2020,Generosity 2020,Year 2020
0,Norway,1,7.537,7.594445,7.479556,1.616463,1.533524,0.796667,0.635423,0.362012,...,0.271,0.341,NaN,2019.0,7.4880,11.087804,73.200783,0.955750,0.134533,2020.0
1,Denmark,2,7.522,7.581728,7.462272,1.482383,1.551122,0.792566,0.626007,0.355280,...,0.252,0.410,NaN,2019.0,7.6456,10.774001,72.402504,0.951444,0.066202,2020.0
2,Iceland,3,7.504,7.622030,7.385970,1.480633,1.610574,0.833552,0.627163,0.475540,...,0.354,0.118,NaN,2019.0,7.5045,10.772559,73.000000,0.948892,0.246944,2020.0
3,Switzerland,4,7.494,7.561772,7.426227,1.564980,1.516912,0.858131,0.620071,0.290549,...,0.263,0.343,NaN,2019.0,7.5599,10.979933,74.102448,0.921337,0.105911,2020.0
4,Finland,5,7.469,7.527542,7.410458,1.443572,1.540247,0.809158,0.617951,0.245483,...,0.153,0.393,NaN,2019.0,7.8087,10.639267,71.900825,0.949172,-0.059482,2020.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150,Rwanda,151,3.471,3.543030,3.398970,0.368746,0.945707,0.326425,0.581844,0.252756,...,0.217,0.411,NaN,2019.0,3.3123,7.600104,61.098846,0.900589,0.055484,2020.0
151,Syria,152,3.462,3.663669,3.260331,0.777153,0.396103,0.500533,0.081539,0.493664,...,0.331,0.141,NaN,2019.0,NaN,NaN,NaN,NaN,NaN,NaN
152,Tanzania,153,3.349,3.461430,3.236570,0.511136,1.041990,0.364509,0.390018,0.354256,...,0.276,0.147,NaN,2019.0,3.4762,7.967665,57.496075,0.821540,0.109669,2020.0
153,Burundi,154,2.905,3.074690,2.735310,0.091623,0.629794,0.151611,0.059901,0.204435,...,0.176,0.180,NaN,2019.0,3.7753,6.492642,53.400002,0.626350,-0.017552,2020.0
154,Central African Republic,155,2.693,2.864884,2.521116,0.000000,0.000000,0.018773,0.270842,0.280876,...,0.235,0.035,NaN,2019.0,3.4759,6.625160,45.200001,0.640881,0.082410,2020.0

In [7]:
combined_df = pd.merge(
    combined_df, happiness2021, how = "left", on=["Country"])

combined_df = combined_df.rename(columns={"Ladder Score":"Ladder Score 2021",
                                                              "GDP":"GDP 2021",
                                                              "Generosity":"Generosity 2021",
                                                              "Freedom":"Freedom 2021",
                                                              "Year":"Year 2021",
                                                             "Life Expectancy":"Life Expectancy 2021"})
combined_df

,Country,Unnamed: 1,Ladder Score 2017,Whisker.high,Whisker.low,GDP 2017,Family,Life Expectancy 2017,Freedom 2017,Generosity 2017,...,Perceptions of corruption,Ladder score in Dystopia,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual,Year 2021
0,Norway,1,7.537,7.594445,7.479556,1.616463,1.533524,0.796667,0.635423,0.362012,...,0.270,2.43,1.543,1.108,0.782,0.703,0.249,0.427,2.580,2021.0
1,Denmark,2,7.522,7.581728,7.462272,1.482383,1.551122,0.792566,0.626007,0.355280,...,0.179,2.43,1.502,1.108,0.763,0.686,0.208,0.485,2.868,2021.0
2,Iceland,3,7.504,7.622030,7.385970,1.480633,1.610574,0.833552,0.627163,0.475540,...,0.673,2.43,1.482,1.172,0.772,0.698,0.293,0.170,2.967,2021.0
3,Switzerland,4,7.494,7.561772,7.426227,1.564980,1.516912,0.858131,0.620071,0.290549,...,0.292,2.43,1.566,1.079,0.816,0.653,0.204,0.413,2.839,2021.0
4,Finland,5,7.469,7.527542,7.410458,1.443572,1.540247,0.809158,0.617951,0.245483,...,0.186,2.43,1.446,1.106,0.741,0.691,0.124,0.481,3.253,2021.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150,Rwanda,151,3.471,3.543030,3.398970,0.368746,0.945707,0.326425,0.581844,0.252756,...,0.167,2.43,0.364,0.202,0.407,0.627,0.227,0.493,1.095,2021.0
151,Syria,152,3.462,3.663669,3.260331,0.777153,0.396103,0.500533,0.081539,0.493664,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
152,Tanzania,153,3.349,3.461430,3.236570,0.511136,1.041990,0.364509,0.390018,0.354256,...,0.577,2.43,0.433,0.540,0.300,0.549,0.307,0.231,1.263,2021.0
153,Burundi,154,2.905,3.074690,2.735310,0.091623,0.629794,0.151611,0.059901,0.204435,...,0.607,2.43,0.000,0.062,0.155,0.298,0.172,0.212,2.876,2021.0
154,Central African Republic,155,2.693,2.864884,2.521116,0.000000,0.000000,0.018773,0.270842,0.280876,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
clean_df = combined_df[["Country", "Year 2017", "Ladder Score 2017","GDP 2017",
                         "Life Expectancy 2017", "Freedom 2017",
                           "Generosity 2017",
                        
                       "Year 2018", "Ladder Score 2018","GDP 2018",
                         "Life Expectancy 2018", "Freedom 2018",
                           "Generosity 2018",
                        
                       "Year 2019", "Ladder Score 2019","GDP 2019",
                         "Life Expectancy 2019", "Freedom 2019",
                           "Generosity 2019",
                        
                       "Year 2020", "Ladder Score 2020","GDP 2020",
                         "Life Expectancy 2020", "Freedom 2020",
                           "Generosity 2020",
                        
                       "Year 2021", "Ladder Score 2021","GDP 2021",
                         "Life Expectancy 2021", "Freedom 2021",
                           "Generosity 2021"]]
clean_df

,Country,Generosity 2017,Life Expectancy 2017,Ladder Score 2017,Freedom 2017,GDP 2017,Year 2017,Generosity 2018,Life Expectancy 2018,Ladder Score 2018,...,Ladder Score 2020,Freedom 2020,GDP 2020,Year 2020,Generosity 2021,Life Expectancy 2021,Ladder Score 2021,Freedom 2021,GDP 2021,Year 2021
0,Norway,0.362012,0.796667,7.537,0.635423,1.616463,2017,0.286,0.861,7.594,...,7.4880,0.955750,11.087804,2020.0,0.093,73.300,7.392,0.960,11.053,2021.0
1,Denmark,0.355280,0.792566,7.522,0.626007,1.482383,2017,0.284,0.868,7.555,...,7.6456,0.951444,10.774001,2020.0,0.030,72.700,7.620,0.946,10.933,2021.0
2,Iceland,0.475540,0.833552,7.504,0.627163,1.480633,2017,0.353,0.914,7.495,...,7.5045,0.948892,10.772559,2020.0,0.160,73.000,7.554,0.955,10.878,2021.0
3,Switzerland,0.290549,0.858131,7.494,0.620071,1.564980,2017,0.256,0.927,7.487,...,7.5599,0.921337,10.979933,2020.0,0.025,74.400,7.571,0.919,11.117,2021.0
4,Finland,0.245483,0.809158,7.469,0.617951,1.443572,2017,0.202,0.874,7.632,...,7.8087,0.949172,10.639267,2020.0,-0.098,72.000,7.842,0.949,10.775,2021.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150,Rwanda,0.252756,0.326425,3.471,0.581844,0.368746,2017,0.200,0.400,3.408,...,3.3123,0.900589,7.600104,2020.0,0.061,61.400,3.415,0.897,7.676,2021.0
151,Syria,0.493664,0.500533,3.462,0.081539,0.777153,2017,0.376,0.539,3.462,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
152,Tanzania,0.354256,0.364509,3.349,0.390018,0.511136,2017,0.270,0.381,3.303,...,3.4762,0.821540,7.967665,2020.0,0.183,57.999,3.623,0.833,7.876,2021.0
153,Burundi,0.204435,0.151611,2.905,0.059901,0.091623,2017,0.149,0.145,2.905,...,3.7753,0.626350,6.492642,2020.0,-0.024,53.400,3.775,0.626,6.635,2021.0
154,Central African Republic,0.280876,0.018773,2.693,0.270842,0.000000,2017,0.218,0.010,3.083,...,3.4759,0.640881,6.625160,2020.0,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
clean_df.to_csv(r'Resources/Combined_Happiness.csv')

In [10]:
GDP = Happiness?
		Scatter plot
			X = GDP
			Y = happiness
		Graph
			X = GDP * happiness
			Y = years (20017, 2018, 2019, 2020, 2021)
	Life expectancy = Happiness?
		Scatter plot
	Freedom = Happiness?
		Scatter plot
	Generosity = Happiness?
		Scatter plot
	Social support = happiness?
Scatter plot
	Population = happiness?
		Scatter plot
        
cleaning data = remove unnecessary columns

merge data with the last 5 years, each individually
Country, Generosity, Life Expectancy, Ladder Score, Freedom, GDP, Year

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 8)

In [11]:
# Divide questions by region??
# top 5 happiest regions, is GDP an indicator
    # double bar graph
    # scatter plot
# bottom 5 happiest regions, is GDP an indicator
    # double bar graph
    # scatter plot
    
# Is there a correlation between country happiness and its neighboring country...
    # visualization 1:
    # visualization 2:
    

    
# What are the top 5 happiest countries
    # double bar graph
# What are the 5 least happiest countries


# Is GDP an indicator of happiness
    # visualization 1: scatter plot
    # visualization 2: 

# What are the main indicators of happiness
    # visualization 1:
    # visualization 2: