In [208]:
#Import dependencies
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns


#reading 2021 by itself because it has regional indictor which other csvs are muissing
Combined = pd.read_csv(f"Resources/Combined_Happiness_By_Category.csv")
Combined = pd.DataFrame(Combined)

In [209]:
Top_5_GDP_2021 = Combined.sort_values("GDP 2021", ascending=False)[
    ["Country","GDP 2021"]].reset_index(drop=True)

Top_5_GDP_2021.head()

                Country  GDP 2021
0            Luxembourg    11.647
1             Singapore    11.488
2               Ireland    11.342
3           Switzerland    11.117
4  United Arab Emirates    11.085

In [210]:
Combined = Combined.sort_values("GDP 2017", ascending=False).reset_index(drop=True)

Combined["GDP 2017 Ranking"]= Combined.index



Combined.head(10)

,Country,Ladder Score 2017,Ladder Score 2018,Ladder Score 2019,Ladder Score 2020,Ladder Score 2021,GDP 2017,GDP 2018,GDP 2019,GDP 2020,...,Generosity 2018,Generosity 2019,Generosity 2020,Generosity 2021,Year 2017,Year 2018,Year 2019,Year 2020,Year 2021,GDP 2017 Ranking
0,Qatar,6.375,6.374,6.374,NaN,NaN,1.870766,1.649,1.684,NaN,...,0.256,0.220,NaN,NaN,2017,2018.0,2019.0,NaN,NaN,0
1,Luxembourg,6.863,6.910,7.090,7.2375,7.324,1.741944,1.576,1.609,11.450681,...,0.196,0.194,-0.004621,-0.034,2017,2018.0,2019.0,2020.0,2021.0,1
2,Singapore,6.572,6.343,6.262,6.3771,6.377,1.692278,1.529,1.572,11.395521,...,0.261,0.271,0.029879,-0.018,2017,2018.0,2019.0,2020.0,2021.0,2
3,Kuwait,6.105,6.083,6.021,6.1021,6.106,1.632952,1.474,1.500,11.089825,...,0.167,0.142,-0.100185,-0.104,2017,2018.0,2019.0,2020.0,2021.0,3
4,United Arab Emirates,6.648,6.774,6.825,6.7908,6.561,1.626343,2.096,1.503,11.109999,...,0.186,0.262,0.123451,0.074,2017,2018.0,2019.0,2020.0,2021.0,4
5,Norway,7.537,7.594,7.554,7.4880,7.392,1.616463,1.456,1.488,11.087804,...,0.286,0.271,0.134533,0.093,2017,2018.0,2019.0,2020.0,2021.0,5
6,Switzerland,7.494,7.487,7.480,7.5599,7.571,1.564980,1.420,1.452,10.979933,...,0.256,0.263,0.105911,0.025,2017,2018.0,2019.0,2020.0,2021.0,6
7,"Hong Kong S.A.R., China",5.472,NaN,NaN,NaN,NaN,1.551675,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2017,NaN,NaN,NaN,NaN,7
8,United States,6.993,6.886,6.892,6.9396,6.951,1.546259,1.398,1.433,10.925769,...,0.291,0.280,0.149892,0.098,2017,2018.0,2019.0,2020.0,2021.0,8
9,Ireland,6.977,6.977,7.021,7.0937,7.085,1.535707,1.448,1.499,11.160978,...,0.307,0.298,0.145785,0.077,2017,2018.0,2019.0,2020.0,2021.0,9

In [211]:
Combined = Combined.sort_values("GDP 2018", ascending=False).reset_index(drop=True)

Combined["GDP 2018 Ranking"]= Combined.index



Combined.head(10)

,Country,Ladder Score 2017,Ladder Score 2018,Ladder Score 2019,Ladder Score 2020,Ladder Score 2021,GDP 2017,GDP 2018,GDP 2019,GDP 2020,...,Generosity 2019,Generosity 2020,Generosity 2021,Year 2017,Year 2018,Year 2019,Year 2020,Year 2021,GDP 2017 Ranking,GDP 2018 Ranking
0,United Arab Emirates,6.648,6.774,6.825,6.7908,6.561,1.626343,2.096,1.503,11.109999,...,0.262,0.123451,0.074,2017,2018.0,2019.0,2020.0,2021.0,4,0
1,Qatar,6.375,6.374,6.374,NaN,NaN,1.870766,1.649,1.684,NaN,...,0.220,NaN,NaN,2017,2018.0,2019.0,NaN,NaN,0,1
2,Luxembourg,6.863,6.910,7.090,7.2375,7.324,1.741944,1.576,1.609,11.450681,...,0.194,-0.004621,-0.034,2017,2018.0,2019.0,2020.0,2021.0,1,2
3,Singapore,6.572,6.343,6.262,6.3771,6.377,1.692278,1.529,1.572,11.395521,...,0.271,0.029879,-0.018,2017,2018.0,2019.0,2020.0,2021.0,2,3
4,Kuwait,6.105,6.083,6.021,6.1021,6.106,1.632952,1.474,1.500,11.089825,...,0.142,-0.100185,-0.104,2017,2018.0,2019.0,2020.0,2021.0,3,4
5,Norway,7.537,7.594,7.554,7.4880,7.392,1.616463,1.456,1.488,11.087804,...,0.271,0.134533,0.093,2017,2018.0,2019.0,2020.0,2021.0,5,5
6,Ireland,6.977,6.977,7.021,7.0937,7.085,1.535707,1.448,1.499,11.160978,...,0.298,0.145785,0.077,2017,2018.0,2019.0,2020.0,2021.0,9,6
7,Switzerland,7.494,7.487,7.480,7.5599,7.571,1.564980,1.420,1.452,10.979933,...,0.263,0.105911,0.025,2017,2018.0,2019.0,2020.0,2021.0,6,7
8,United States,6.993,6.886,6.892,6.9396,6.951,1.546259,1.398,1.433,10.925769,...,0.280,0.149892,0.098,2017,2018.0,2019.0,2020.0,2021.0,8,8
9,Saudi Arabia,6.344,6.371,6.375,6.4065,6.494,1.530624,1.379,1.403,10.797812,...,0.080,-0.168695,-0.149,2017,2018.0,2019.0,2020.0,2021.0,10,9

In [212]:
Combined = Combined.sort_values("GDP 2019", ascending=False).reset_index(drop=True)

Combined["GDP 2019 Ranking"]= Combined.index



Combined.head(10)

,Country,Ladder Score 2017,Ladder Score 2018,Ladder Score 2019,Ladder Score 2020,Ladder Score 2021,GDP 2017,GDP 2018,GDP 2019,GDP 2020,...,Generosity 2020,Generosity 2021,Year 2017,Year 2018,Year 2019,Year 2020,Year 2021,GDP 2017 Ranking,GDP 2018 Ranking,GDP 2019 Ranking
0,Qatar,6.375,6.374,6.374,NaN,NaN,1.870766,1.649,1.684,NaN,...,NaN,NaN,2017,2018.0,2019.0,NaN,NaN,0,1,0
1,Luxembourg,6.863,6.910,7.090,7.2375,7.324,1.741944,1.576,1.609,11.450681,...,-0.004621,-0.034,2017,2018.0,2019.0,2020.0,2021.0,1,2,1
2,Singapore,6.572,6.343,6.262,6.3771,6.377,1.692278,1.529,1.572,11.395521,...,0.029879,-0.018,2017,2018.0,2019.0,2020.0,2021.0,2,3,2
3,United Arab Emirates,6.648,6.774,6.825,6.7908,6.561,1.626343,2.096,1.503,11.109999,...,0.123451,0.074,2017,2018.0,2019.0,2020.0,2021.0,4,0,3
4,Kuwait,6.105,6.083,6.021,6.1021,6.106,1.632952,1.474,1.500,11.089825,...,-0.100185,-0.104,2017,2018.0,2019.0,2020.0,2021.0,3,4,4
5,Ireland,6.977,6.977,7.021,7.0937,7.085,1.535707,1.448,1.499,11.160978,...,0.145785,0.077,2017,2018.0,2019.0,2020.0,2021.0,9,6,5
6,Norway,7.537,7.594,7.554,7.4880,7.392,1.616463,1.456,1.488,11.087804,...,0.134533,0.093,2017,2018.0,2019.0,2020.0,2021.0,5,5,6
7,Switzerland,7.494,7.487,7.480,7.5599,7.571,1.564980,1.420,1.452,10.979933,...,0.105911,0.025,2017,2018.0,2019.0,2020.0,2021.0,6,7,7
8,United States,6.993,6.886,6.892,6.9396,6.951,1.546259,1.398,1.433,10.925769,...,0.149892,0.098,2017,2018.0,2019.0,2020.0,2021.0,8,8,8
9,Saudi Arabia,6.344,6.371,6.375,6.4065,6.494,1.530624,1.379,1.403,10.797812,...,-0.168695,-0.149,2017,2018.0,2019.0,2020.0,2021.0,10,9,9

In [213]:
Combined = Combined.sort_values("GDP 2020", ascending=False).reset_index(drop=True)

Combined["GDP 2020 Ranking"]= Combined.index



Combined.head(10)

,Country,Ladder Score 2017,Ladder Score 2018,Ladder Score 2019,Ladder Score 2020,Ladder Score 2021,GDP 2017,GDP 2018,GDP 2019,GDP 2020,...,Generosity 2021,Year 2017,Year 2018,Year 2019,Year 2020,Year 2021,GDP 2017 Ranking,GDP 2018 Ranking,GDP 2019 Ranking,GDP 2020 Ranking
0,Luxembourg,6.863,6.910,7.090,7.2375,7.324,1.741944,1.576,1.609,11.450681,...,-0.034,2017,2018.0,2019.0,2020.0,2021.0,1,2,1,0
1,Singapore,6.572,6.343,6.262,6.3771,6.377,1.692278,1.529,1.572,11.395521,...,-0.018,2017,2018.0,2019.0,2020.0,2021.0,2,3,2,1
2,Ireland,6.977,6.977,7.021,7.0937,7.085,1.535707,1.448,1.499,11.160978,...,0.077,2017,2018.0,2019.0,2020.0,2021.0,9,6,5,2
3,United Arab Emirates,6.648,6.774,6.825,6.7908,6.561,1.626343,2.096,1.503,11.109999,...,0.074,2017,2018.0,2019.0,2020.0,2021.0,4,0,3,3
4,Kuwait,6.105,6.083,6.021,6.1021,6.106,1.632952,1.474,1.500,11.089825,...,-0.104,2017,2018.0,2019.0,2020.0,2021.0,3,4,4,4
5,Norway,7.537,7.594,7.554,7.4880,7.392,1.616463,1.456,1.488,11.087804,...,0.093,2017,2018.0,2019.0,2020.0,2021.0,5,5,6,5
6,Switzerland,7.494,7.487,7.480,7.5599,7.571,1.564980,1.420,1.452,10.979933,...,0.025,2017,2018.0,2019.0,2020.0,2021.0,6,7,7,6
7,United States,6.993,6.886,6.892,6.9396,6.951,1.546259,1.398,1.433,10.925769,...,0.098,2017,2018.0,2019.0,2020.0,2021.0,8,8,8,7
8,Netherlands,7.377,7.441,7.488,7.4489,7.464,1.503945,1.361,1.396,10.812712,...,0.175,2017,2018.0,2019.0,2020.0,2021.0,11,10,10,8
9,Saudi Arabia,6.344,6.371,6.375,6.4065,6.494,1.530624,1.379,1.403,10.797812,...,-0.149,2017,2018.0,2019.0,2020.0,2021.0,10,9,9,9

In [214]:
Combined = Combined.sort_values("GDP 2021", ascending=False).reset_index(drop=True)

Combined["GDP 2021 Ranking"]= Combined.index



Combined.head(10)

,Country,Ladder Score 2017,Ladder Score 2018,Ladder Score 2019,Ladder Score 2020,Ladder Score 2021,GDP 2017,GDP 2018,GDP 2019,GDP 2020,...,Year 2017,Year 2018,Year 2019,Year 2020,Year 2021,GDP 2017 Ranking,GDP 2018 Ranking,GDP 2019 Ranking,GDP 2020 Ranking,GDP 2021 Ranking
0,Luxembourg,6.863,6.910,7.090,7.2375,7.324,1.741944,1.576,1.609,11.450681,...,2017,2018.0,2019.0,2020.0,2021.0,1,2,1,0,0
1,Singapore,6.572,6.343,6.262,6.3771,6.377,1.692278,1.529,1.572,11.395521,...,2017,2018.0,2019.0,2020.0,2021.0,2,3,2,1,1
2,Ireland,6.977,6.977,7.021,7.0937,7.085,1.535707,1.448,1.499,11.160978,...,2017,2018.0,2019.0,2020.0,2021.0,9,6,5,2,2
3,Switzerland,7.494,7.487,7.480,7.5599,7.571,1.564980,1.420,1.452,10.979933,...,2017,2018.0,2019.0,2020.0,2021.0,6,7,7,6,3
4,United Arab Emirates,6.648,6.774,6.825,6.7908,6.561,1.626343,2.096,1.503,11.109999,...,2017,2018.0,2019.0,2020.0,2021.0,4,0,3,3,4
5,Norway,7.537,7.594,7.554,7.4880,7.392,1.616463,1.456,1.488,11.087804,...,2017,2018.0,2019.0,2020.0,2021.0,5,5,6,5,5
6,United States,6.993,6.886,6.892,6.9396,6.951,1.546259,1.398,1.433,10.925769,...,2017,2018.0,2019.0,2020.0,2021.0,8,8,8,7,6
7,Denmark,7.522,7.555,7.600,7.6456,7.620,1.482383,1.351,1.383,10.774001,...,2017,2018.0,2019.0,2020.0,2021.0,17,12,12,11,7
8,Netherlands,7.377,7.441,7.488,7.4489,7.464,1.503945,1.361,1.396,10.812712,...,2017,2018.0,2019.0,2020.0,2021.0,11,10,10,8,8
9,Austria,7.006,7.139,7.246,7.2942,7.268,1.487097,1.341,1.376,10.742824,...,2017,2018.0,2019.0,2020.0,2021.0,15,14,14,14,9

In [215]:
Combined = Combined.sort_values("Life Expectancy 2017", ascending=False).reset_index(drop=True)

Combined["Life Expectancy Ranking 2017"]= Combined.index



Combined.head(10)

,Country,Ladder Score 2017,Ladder Score 2018,Ladder Score 2019,Ladder Score 2020,Ladder Score 2021,GDP 2017,GDP 2018,GDP 2019,GDP 2020,...,Year 2018,Year 2019,Year 2020,Year 2021,GDP 2017 Ranking,GDP 2018 Ranking,GDP 2019 Ranking,GDP 2020 Ranking,GDP 2021 Ranking,Life Expectancy Ranking 2017
0,Singapore,6.572,6.343,6.262,6.3771,6.377,1.692278,1.529,1.572,11.395521,...,2018.0,2019.0,2020.0,2021.0,2,3,2,1,1,0
1,"Hong Kong S.A.R., China",5.472,NaN,NaN,NaN,NaN,1.551675,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,7,151,151,154,154,1
2,Japan,5.920,5.915,5.886,5.8708,5.940,1.416915,1.294,1.327,10.579689,...,2018.0,2019.0,2020.0,2021.0,25,22,22,23,27,2
3,South Korea,5.838,5.875,5.895,5.8724,5.845,1.401678,1.266,1.301,10.510567,...,2018.0,2019.0,2020.0,2021.0,27,26,25,25,24,3
4,Spain,6.403,6.310,6.354,6.4009,6.491,1.384398,1.251,1.286,10.462927,...,2018.0,2019.0,2020.0,2021.0,29,28,28,28,31,4
5,Switzerland,7.494,7.487,7.480,7.5599,7.571,1.564980,1.420,1.452,10.979933,...,2018.0,2019.0,2020.0,2021.0,6,7,7,6,3,5
6,Italy,5.964,6.000,6.223,6.3874,6.483,1.395067,1.264,1.294,10.481836,...,2018.0,2019.0,2020.0,2021.0,28,27,27,27,26,6
7,Luxembourg,6.863,6.910,7.090,7.2375,7.324,1.741944,1.576,1.609,11.450681,...,2018.0,2019.0,2020.0,2021.0,1,2,1,0,0,7
8,Cyprus,5.621,5.762,6.046,6.1590,6.223,1.355938,1.229,1.263,10.405703,...,2018.0,2019.0,2020.0,2021.0,32,31,31,31,29,8
9,France,6.442,6.489,6.592,6.6638,6.690,1.430923,1.293,1.324,10.584223,...,2018.0,2019.0,2020.0,2021.0,24,23,23,22,21,9

In [216]:
Combined = Combined.sort_values("Life Expectancy 2018", ascending=False).reset_index(drop=True)

Combined["Life Expectancy Ranking 2018"]= Combined.index



Combined.head(10)

,Country,Ladder Score 2017,Ladder Score 2018,Ladder Score 2019,Ladder Score 2020,Ladder Score 2021,GDP 2017,GDP 2018,GDP 2019,GDP 2020,...,Year 2019,Year 2020,Year 2021,GDP 2017 Ranking,GDP 2018 Ranking,GDP 2019 Ranking,GDP 2020 Ranking,GDP 2021 Ranking,Life Expectancy Ranking 2017,Life Expectancy Ranking 2018
0,Singapore,6.572,6.343,6.262,6.3771,6.377,1.692278,1.529,1.572,11.395521,...,2019.0,2020.0,2021.0,2,3,2,1,1,0,0
1,Japan,5.920,5.915,5.886,5.8708,5.940,1.416915,1.294,1.327,10.579689,...,2019.0,2020.0,2021.0,25,22,22,23,27,2,1
2,Spain,6.403,6.310,6.354,6.4009,6.491,1.384398,1.251,1.286,10.462927,...,2019.0,2020.0,2021.0,29,28,28,28,31,4,2
3,South Korea,5.838,5.875,5.895,5.8724,5.845,1.401678,1.266,1.301,10.510567,...,2019.0,2020.0,2021.0,27,26,25,25,24,3,3
4,Italy,5.964,6.000,6.223,6.3874,6.483,1.395067,1.264,1.294,10.481836,...,2019.0,2020.0,2021.0,28,27,27,27,26,6,4
5,Switzerland,7.494,7.487,7.480,7.5599,7.571,1.564980,1.420,1.452,10.979933,...,2019.0,2020.0,2021.0,6,7,7,6,3,5,5
6,Iceland,7.504,7.495,7.494,7.5045,7.554,1.480633,1.343,1.380,10.772559,...,2019.0,2020.0,2021.0,18,13,13,12,10,14,6
7,Sweden,7.284,7.314,7.343,7.3535,7.363,1.494387,1.355,1.387,10.758794,...,2019.0,2020.0,2021.0,12,11,11,13,13,15,7
8,Australia,7.284,7.272,7.228,7.2228,7.183,1.484415,1.340,1.372,10.720596,...,2019.0,2020.0,2021.0,16,16,16,16,16,10,8
9,Cyprus,5.621,5.762,6.046,6.1590,6.223,1.355938,1.229,1.263,10.405703,...,2019.0,2020.0,2021.0,32,31,31,31,29,8,9

In [217]:
Combined = Combined.sort_values("Life Expectancy 2019", ascending=False).reset_index(drop=True)

Combined["Life Expectancy Ranking 2019"]= Combined.index



Combined.head(10)

,Country,Ladder Score 2017,Ladder Score 2018,Ladder Score 2019,Ladder Score 2020,Ladder Score 2021,GDP 2017,GDP 2018,GDP 2019,GDP 2020,...,Year 2020,Year 2021,GDP 2017 Ranking,GDP 2018 Ranking,GDP 2019 Ranking,GDP 2020 Ranking,GDP 2021 Ranking,Life Expectancy Ranking 2017,Life Expectancy Ranking 2018,Life Expectancy Ranking 2019
0,Singapore,6.572,6.343,6.262,6.3771,6.377,1.692278,1.529,1.572,11.395521,...,2020.0,2021.0,2,3,2,1,1,0,0,0
1,Japan,5.920,5.915,5.886,5.8708,5.940,1.416915,1.294,1.327,10.579689,...,2020.0,2021.0,25,22,22,23,27,2,1,1
2,Spain,6.403,6.310,6.354,6.4009,6.491,1.384398,1.251,1.286,10.462927,...,2020.0,2021.0,29,28,28,28,31,4,2,2
3,Switzerland,7.494,7.487,7.480,7.5599,7.571,1.564980,1.420,1.452,10.979933,...,2020.0,2021.0,6,7,7,6,3,5,5,3
4,France,6.442,6.489,6.592,6.6638,6.690,1.430923,1.293,1.324,10.584223,...,2020.0,2021.0,24,23,23,22,21,9,10,4
5,Cyprus,5.621,5.762,6.046,6.1590,6.223,1.355938,1.229,1.263,10.405703,...,2020.0,2021.0,32,31,31,31,29,8,9,5
6,Italy,5.964,6.000,6.223,6.3874,6.483,1.395067,1.264,1.294,10.481836,...,2020.0,2021.0,28,27,27,27,26,6,4,6
7,Canada,7.316,7.328,7.278,7.2321,7.103,1.479204,1.330,1.365,10.692369,...,2020.0,2021.0,19,18,17,17,17,13,12,7
8,South Korea,5.838,5.875,5.895,5.8724,5.845,1.401678,1.266,1.301,10.510567,...,2020.0,2021.0,27,26,25,25,24,3,3,8
9,Australia,7.284,7.272,7.228,7.2228,7.183,1.484415,1.340,1.372,10.720596,...,2020.0,2021.0,16,16,16,16,16,10,8,9

In [218]:
Combined = Combined.sort_values("Life Expectancy 2020", ascending=False).reset_index(drop=True)

Combined["Life Expectancy Ranking 2020"]= Combined.index



Combined.head(10)

,Country,Ladder Score 2017,Ladder Score 2018,Ladder Score 2019,Ladder Score 2020,Ladder Score 2021,GDP 2017,GDP 2018,GDP 2019,GDP 2020,...,Year 2021,GDP 2017 Ranking,GDP 2018 Ranking,GDP 2019 Ranking,GDP 2020 Ranking,GDP 2021 Ranking,Life Expectancy Ranking 2017,Life Expectancy Ranking 2018,Life Expectancy Ranking 2019,Life Expectancy Ranking 2020
0,Singapore,6.572,6.343,6.262,6.3771,6.377,1.692278,1.529,1.572,11.395521,...,2021.0,2,3,2,1,1,0,0,0,0
1,Japan,5.920,5.915,5.886,5.8708,5.940,1.416915,1.294,1.327,10.579689,...,2021.0,25,22,22,23,27,2,1,1,1
2,Spain,6.403,6.310,6.354,6.4009,6.491,1.384398,1.251,1.286,10.462927,...,2021.0,29,28,28,28,31,4,2,2,2
3,Switzerland,7.494,7.487,7.480,7.5599,7.571,1.564980,1.420,1.452,10.979933,...,2021.0,6,7,7,6,3,5,5,3,3
4,France,6.442,6.489,6.592,6.6638,6.690,1.430923,1.293,1.324,10.584223,...,2021.0,24,23,23,22,21,9,10,4,4
5,North Cyprus,5.810,NaN,NaN,5.5355,5.536,1.346911,NaN,NaN,10.405703,...,2021.0,34,154,154,30,28,12,152,152,5
6,Cyprus,5.621,5.762,6.046,6.1590,6.223,1.355938,1.229,1.263,10.405703,...,2021.0,32,31,31,31,29,8,9,5,6
7,Australia,7.284,7.272,7.228,7.2228,7.183,1.484415,1.340,1.372,10.720596,...,2021.0,16,16,16,16,16,10,8,9,7
8,South Korea,5.838,5.875,5.895,5.8724,5.845,1.401678,1.266,1.301,10.510567,...,2021.0,27,26,25,25,24,3,3,8,8
9,Italy,5.964,6.000,6.223,6.3874,6.483,1.395067,1.264,1.294,10.481836,...,2021.0,28,27,27,27,26,6,4,6,9

In [219]:
Combined = Combined.sort_values("Life Expectancy 2021", ascending=False).reset_index(drop=True)

Combined["Life Expectancy Ranking 2021"]= Combined.index



Combined.head(10)

,Country,Ladder Score 2017,Ladder Score 2018,Ladder Score 2019,Ladder Score 2020,Ladder Score 2021,GDP 2017,GDP 2018,GDP 2019,GDP 2020,...,GDP 2017 Ranking,GDP 2018 Ranking,GDP 2019 Ranking,GDP 2020 Ranking,GDP 2021 Ranking,Life Expectancy Ranking 2017,Life Expectancy Ranking 2018,Life Expectancy Ranking 2019,Life Expectancy Ranking 2020,Life Expectancy Ranking 2021
0,Singapore,6.572,6.343,6.262,6.3771,6.377,1.692278,1.529,1.572,11.395521,...,2,3,2,1,1,0,0,0,0,0
1,Japan,5.920,5.915,5.886,5.8708,5.940,1.416915,1.294,1.327,10.579689,...,25,22,22,23,27,2,1,1,1,1
2,Spain,6.403,6.310,6.354,6.4009,6.491,1.384398,1.251,1.286,10.462927,...,29,28,28,28,31,4,2,2,2,2
3,Switzerland,7.494,7.487,7.480,7.5599,7.571,1.564980,1.420,1.452,10.979933,...,6,7,7,6,3,5,5,3,3,3
4,France,6.442,6.489,6.592,6.6638,6.690,1.430923,1.293,1.324,10.584223,...,24,23,23,22,21,9,10,4,4,4
5,Australia,7.284,7.272,7.228,7.2228,7.183,1.484415,1.340,1.372,10.720596,...,16,16,16,16,16,10,8,9,7,5
6,South Korea,5.838,5.875,5.895,5.8724,5.845,1.401678,1.266,1.301,10.510567,...,27,26,25,25,24,3,3,8,8,6
7,North Cyprus,5.810,NaN,NaN,5.5355,5.536,1.346911,NaN,NaN,10.405703,...,34,154,154,30,28,12,152,152,5,7
8,Cyprus,5.621,5.762,6.046,6.1590,6.223,1.355938,1.229,1.263,10.405703,...,32,31,31,31,29,8,9,5,6,8
9,Canada,7.316,7.328,7.278,7.2321,7.103,1.479204,1.330,1.365,10.692369,...,19,18,17,17,17,13,12,7,10,9

In [220]:
Combined = Combined.sort_values("Ladder Score 2017", ascending=False).reset_index(drop=True)

Combined["Ladder Score Ranking 2017"]= Combined.index



Combined.head(10)

,Country,Ladder Score 2017,Ladder Score 2018,Ladder Score 2019,Ladder Score 2020,Ladder Score 2021,GDP 2017,GDP 2018,GDP 2019,GDP 2020,...,GDP 2018 Ranking,GDP 2019 Ranking,GDP 2020 Ranking,GDP 2021 Ranking,Life Expectancy Ranking 2017,Life Expectancy Ranking 2018,Life Expectancy Ranking 2019,Life Expectancy Ranking 2020,Life Expectancy Ranking 2021,Ladder Score Ranking 2017
0,Norway,7.537,7.594,7.554,7.4880,7.392,1.616463,1.456,1.488,11.087804,...,5,6,5,5,27,25,11,12,13,0
1,Denmark,7.522,7.555,7.600,7.6456,7.620,1.482383,1.351,1.383,10.774001,...,12,12,11,7,30,24,22,19,16,1
2,Iceland,7.504,7.495,7.494,7.5045,7.554,1.480633,1.343,1.380,10.772559,...,13,13,12,10,14,6,12,15,15,2
3,Switzerland,7.494,7.487,7.480,7.5599,7.571,1.564980,1.420,1.452,10.979933,...,7,7,6,3,5,5,3,3,3,3
4,Finland,7.469,7.632,7.769,7.8087,7.842,1.443572,1.305,1.340,10.639267,...,20,20,20,18,24,23,26,27,27,4
5,Netherlands,7.377,7.441,7.488,7.4489,7.464,1.503945,1.361,1.396,10.812712,...,10,10,8,8,21,20,20,22,23,5
6,Canada,7.316,7.328,7.278,7.2321,7.103,1.479204,1.330,1.365,10.692369,...,18,17,17,17,13,12,7,10,9,6
7,New Zealand,7.314,7.324,7.307,7.2996,7.277,1.405706,1.268,1.303,10.500943,...,25,24,26,25,19,21,13,11,12,7
8,Sweden,7.284,7.314,7.343,7.3535,7.363,1.494387,1.355,1.387,10.758794,...,11,11,13,13,15,7,16,16,17,8
9,Australia,7.284,7.272,7.228,7.2228,7.183,1.484415,1.340,1.372,10.720596,...,16,16,16,16,10,8,9,7,5,9

In [221]:
Combined = Combined.sort_values("Ladder Score 2018", ascending=False).reset_index(drop=True)

Combined["Ladder Score Ranking 2018"]= Combined.index



Combined.head(10)

,Country,Ladder Score 2017,Ladder Score 2018,Ladder Score 2019,Ladder Score 2020,Ladder Score 2021,GDP 2017,GDP 2018,GDP 2019,GDP 2020,...,GDP 2019 Ranking,GDP 2020 Ranking,GDP 2021 Ranking,Life Expectancy Ranking 2017,Life Expectancy Ranking 2018,Life Expectancy Ranking 2019,Life Expectancy Ranking 2020,Life Expectancy Ranking 2021,Ladder Score Ranking 2017,Ladder Score Ranking 2018
0,Finland,7.469,7.632,7.769,7.8087,7.842,1.443572,1.305,1.340,10.639267,...,20,20,18,24,23,26,27,27,4,0
1,Norway,7.537,7.594,7.554,7.4880,7.392,1.616463,1.456,1.488,11.087804,...,6,5,5,27,25,11,12,13,0,1
2,Denmark,7.522,7.555,7.600,7.6456,7.620,1.482383,1.351,1.383,10.774001,...,12,11,7,30,24,22,19,16,1,2
3,Iceland,7.504,7.495,7.494,7.5045,7.554,1.480633,1.343,1.380,10.772559,...,13,12,10,14,6,12,15,15,2,3
4,Switzerland,7.494,7.487,7.480,7.5599,7.571,1.564980,1.420,1.452,10.979933,...,7,6,3,5,5,3,3,3,3,4
5,Netherlands,7.377,7.441,7.488,7.4489,7.464,1.503945,1.361,1.396,10.812712,...,10,8,8,21,20,20,22,23,5,5
6,Canada,7.316,7.328,7.278,7.2321,7.103,1.479204,1.330,1.365,10.692369,...,17,17,17,13,12,7,10,9,6,6
7,New Zealand,7.314,7.324,7.307,7.2996,7.277,1.405706,1.268,1.303,10.500943,...,24,26,25,19,21,13,11,12,7,7
8,Sweden,7.284,7.314,7.343,7.3535,7.363,1.494387,1.355,1.387,10.758794,...,11,13,13,15,7,16,16,17,8,8
9,Australia,7.284,7.272,7.228,7.2228,7.183,1.484415,1.340,1.372,10.720596,...,16,16,16,10,8,9,7,5,9,9

In [222]:
Combined = Combined.sort_values("Ladder Score 2019", ascending=False).reset_index(drop=True)

Combined["Ladder Score Ranking 2019"]= Combined.index



Combined.head(10)

,Country,Ladder Score 2017,Ladder Score 2018,Ladder Score 2019,Ladder Score 2020,Ladder Score 2021,GDP 2017,GDP 2018,GDP 2019,GDP 2020,...,GDP 2020 Ranking,GDP 2021 Ranking,Life Expectancy Ranking 2017,Life Expectancy Ranking 2018,Life Expectancy Ranking 2019,Life Expectancy Ranking 2020,Life Expectancy Ranking 2021,Ladder Score Ranking 2017,Ladder Score Ranking 2018,Ladder Score Ranking 2019
0,Finland,7.469,7.632,7.769,7.8087,7.842,1.443572,1.305,1.340,10.639267,...,20,18,24,23,26,27,27,4,0,0
1,Denmark,7.522,7.555,7.600,7.6456,7.620,1.482383,1.351,1.383,10.774001,...,11,7,30,24,22,19,16,1,2,1
2,Norway,7.537,7.594,7.554,7.4880,7.392,1.616463,1.456,1.488,11.087804,...,5,5,27,25,11,12,13,0,1,2
3,Iceland,7.504,7.495,7.494,7.5045,7.554,1.480633,1.343,1.380,10.772559,...,12,10,14,6,12,15,15,2,3,3
4,Netherlands,7.377,7.441,7.488,7.4489,7.464,1.503945,1.361,1.396,10.812712,...,8,8,21,20,20,22,23,5,5,4
5,Switzerland,7.494,7.487,7.480,7.5599,7.571,1.564980,1.420,1.452,10.979933,...,6,3,5,5,3,3,3,3,4,5
6,Sweden,7.284,7.314,7.343,7.3535,7.363,1.494387,1.355,1.387,10.758794,...,13,13,15,7,16,16,17,8,8,6
7,New Zealand,7.314,7.324,7.307,7.2996,7.277,1.405706,1.268,1.303,10.500943,...,26,25,19,21,13,11,12,7,7,7
8,Canada,7.316,7.328,7.278,7.2321,7.103,1.479204,1.330,1.365,10.692369,...,17,17,13,12,7,10,9,6,6,8
9,Austria,7.006,7.139,7.246,7.2942,7.268,1.487097,1.341,1.376,10.742824,...,14,9,20,14,14,14,14,12,11,9

In [223]:
Combined = Combined.sort_values("Ladder Score 2020", ascending=False).reset_index(drop=True)

Combined["Ladder Score Ranking 2020"]= Combined.index



Combined.head(10)

,Country,Ladder Score 2017,Ladder Score 2018,Ladder Score 2019,Ladder Score 2020,Ladder Score 2021,GDP 2017,GDP 2018,GDP 2019,GDP 2020,...,GDP 2021 Ranking,Life Expectancy Ranking 2017,Life Expectancy Ranking 2018,Life Expectancy Ranking 2019,Life Expectancy Ranking 2020,Life Expectancy Ranking 2021,Ladder Score Ranking 2017,Ladder Score Ranking 2018,Ladder Score Ranking 2019,Ladder Score Ranking 2020
0,Finland,7.469,7.632,7.769,7.8087,7.842,1.443572,1.305,1.340,10.639267,...,18,24,23,26,27,27,4,0,0,0
1,Denmark,7.522,7.555,7.600,7.6456,7.620,1.482383,1.351,1.383,10.774001,...,7,30,24,22,19,16,1,2,1,1
2,Switzerland,7.494,7.487,7.480,7.5599,7.571,1.564980,1.420,1.452,10.979933,...,3,5,5,3,3,3,3,4,5,2
3,Iceland,7.504,7.495,7.494,7.5045,7.554,1.480633,1.343,1.380,10.772559,...,10,14,6,12,15,15,2,3,3,3
4,Norway,7.537,7.594,7.554,7.4880,7.392,1.616463,1.456,1.488,11.087804,...,5,27,25,11,12,13,0,1,2,4
5,Netherlands,7.377,7.441,7.488,7.4489,7.464,1.503945,1.361,1.396,10.812712,...,8,21,20,20,22,23,5,5,4,5
6,Sweden,7.284,7.314,7.343,7.3535,7.363,1.494387,1.355,1.387,10.758794,...,13,15,7,16,16,17,8,8,6,6
7,New Zealand,7.314,7.324,7.307,7.2996,7.277,1.405706,1.268,1.303,10.500943,...,25,19,21,13,11,12,7,7,7,7
8,Austria,7.006,7.139,7.246,7.2942,7.268,1.487097,1.341,1.376,10.742824,...,9,20,14,14,14,14,12,11,9,8
9,Luxembourg,6.863,6.910,7.090,7.2375,7.324,1.741944,1.576,1.609,11.450681,...,0,7,11,15,17,20,17,16,13,9

In [224]:
Combined = Combined.sort_values("Ladder Score 2021", ascending=False).reset_index(drop=True)

Combined["Ladder Score Ranking 2021"]= Combined.index



Combined.head(10)

,Country,Ladder Score 2017,Ladder Score 2018,Ladder Score 2019,Ladder Score 2020,Ladder Score 2021,GDP 2017,GDP 2018,GDP 2019,GDP 2020,...,Life Expectancy Ranking 2017,Life Expectancy Ranking 2018,Life Expectancy Ranking 2019,Life Expectancy Ranking 2020,Life Expectancy Ranking 2021,Ladder Score Ranking 2017,Ladder Score Ranking 2018,Ladder Score Ranking 2019,Ladder Score Ranking 2020,Ladder Score Ranking 2021
0,Finland,7.469,7.632,7.769,7.8087,7.842,1.443572,1.305,1.340,10.639267,...,24,23,26,27,27,4,0,0,0,0
1,Denmark,7.522,7.555,7.600,7.6456,7.620,1.482383,1.351,1.383,10.774001,...,30,24,22,19,16,1,2,1,1,1
2,Switzerland,7.494,7.487,7.480,7.5599,7.571,1.564980,1.420,1.452,10.979933,...,5,5,3,3,3,3,4,5,2,2
3,Iceland,7.504,7.495,7.494,7.5045,7.554,1.480633,1.343,1.380,10.772559,...,14,6,12,15,15,2,3,3,3,3
4,Netherlands,7.377,7.441,7.488,7.4489,7.464,1.503945,1.361,1.396,10.812712,...,21,20,20,22,23,5,5,4,5,4
5,Norway,7.537,7.594,7.554,7.4880,7.392,1.616463,1.456,1.488,11.087804,...,27,25,11,12,13,0,1,2,4,5
6,Sweden,7.284,7.314,7.343,7.3535,7.363,1.494387,1.355,1.387,10.758794,...,15,7,16,16,17,8,8,6,6,6
7,Luxembourg,6.863,6.910,7.090,7.2375,7.324,1.741944,1.576,1.609,11.450681,...,7,11,15,17,20,17,16,13,9,7
8,New Zealand,7.314,7.324,7.307,7.2996,7.277,1.405706,1.268,1.303,10.500943,...,19,21,13,11,12,7,7,7,7,8
9,Austria,7.006,7.139,7.246,7.2942,7.268,1.487097,1.341,1.376,10.742824,...,20,14,14,14,14,12,11,9,8,9

In [225]:
Combined = Combined.sort_values("Freedom 2017", ascending=False).reset_index(drop=True)

Combined["Freedom Ranking 2017"]= Combined.index



Combined.head(10)

,Country,Ladder Score 2017,Ladder Score 2018,Ladder Score 2019,Ladder Score 2020,Ladder Score 2021,GDP 2017,GDP 2018,GDP 2019,GDP 2020,...,Life Expectancy Ranking 2018,Life Expectancy Ranking 2019,Life Expectancy Ranking 2020,Life Expectancy Ranking 2021,Ladder Score Ranking 2017,Ladder Score Ranking 2018,Ladder Score Ranking 2019,Ladder Score Ranking 2020,Ladder Score Ranking 2021,Freedom Ranking 2017
0,Uzbekistan,5.971,6.096,6.174,6.2576,6.179,0.786441,0.719,0.745,8.740372,...,86,82,83,83,46,41,38,37,41,0
1,Norway,7.537,7.594,7.554,7.4880,7.392,1.616463,1.456,1.488,11.087804,...,25,11,12,13,0,1,2,4,5,1
2,Cambodia,4.168,4.433,4.700,4.8484,4.830,0.601765,0.549,0.574,8.249890,...,107,101,104,101,128,114,102,102,108,2
3,Iceland,7.504,7.495,7.494,7.5045,7.554,1.480633,1.343,1.380,10.772559,...,6,12,15,15,2,3,3,3,3,3
4,Denmark,7.522,7.555,7.600,7.6456,7.620,1.482383,1.351,1.383,10.774001,...,24,22,19,16,1,2,1,1,1,4
5,Switzerland,7.494,7.487,7.480,7.5599,7.571,1.564980,1.420,1.452,10.979933,...,5,3,3,3,3,4,5,2,2,5
6,Finland,7.469,7.632,7.769,7.8087,7.842,1.443572,1.305,1.340,10.639267,...,23,26,27,27,4,0,0,0,0,6
7,New Zealand,7.314,7.324,7.307,7.2996,7.277,1.405706,1.268,1.303,10.500943,...,21,13,11,12,7,7,7,7,8,7
8,Sweden,7.284,7.314,7.343,7.3535,7.363,1.494387,1.355,1.387,10.758794,...,7,16,16,17,8,8,6,6,6,8
9,Canada,7.316,7.328,7.278,7.2321,7.103,1.479204,1.330,1.365,10.692369,...,12,7,10,9,6,6,8,10,13,9

In [226]:
Combined = Combined.sort_values("Freedom 2018", ascending=False).reset_index(drop=True)

Combined["Freedom Ranking 2018"]= Combined.index



Combined.head(10)

,Country,Ladder Score 2017,Ladder Score 2018,Ladder Score 2019,Ladder Score 2020,Ladder Score 2021,GDP 2017,GDP 2018,GDP 2019,GDP 2020,...,Life Expectancy Ranking 2019,Life Expectancy Ranking 2020,Life Expectancy Ranking 2021,Ladder Score Ranking 2017,Ladder Score Ranking 2018,Ladder Score Ranking 2019,Ladder Score Ranking 2020,Ladder Score Ranking 2021,Freedom Ranking 2017,Freedom Ranking 2018
0,Uzbekistan,5.971,6.096,6.174,6.2576,6.179,0.786441,0.719,0.745,8.740372,...,82,83,83,46,41,38,37,41,0,0
1,Cambodia,4.168,4.433,4.700,4.8484,4.830,0.601765,0.549,0.574,8.249890,...,101,104,101,128,114,102,102,108,2,1
2,Norway,7.537,7.594,7.554,7.4880,7.392,1.616463,1.456,1.488,11.087804,...,11,12,13,0,1,2,4,5,1,2
3,Denmark,7.522,7.555,7.600,7.6456,7.620,1.482383,1.351,1.383,10.774001,...,22,19,16,1,2,1,1,1,4,3
4,Finland,7.469,7.632,7.769,7.8087,7.842,1.443572,1.305,1.340,10.639267,...,26,27,27,4,0,0,0,0,6,4
5,Iceland,7.504,7.495,7.494,7.5045,7.554,1.480633,1.343,1.380,10.772559,...,12,15,15,2,3,3,3,3,3,5
6,Somalia,5.151,4.982,4.668,NaN,NaN,0.022643,0.000,0.000,NaN,...,140,150,150,92,93,105,149,149,12,6
7,New Zealand,7.314,7.324,7.307,7.2996,7.277,1.405706,1.268,1.303,10.500943,...,13,11,12,7,7,7,7,8,7,7
8,Switzerland,7.494,7.487,7.480,7.5599,7.571,1.564980,1.420,1.452,10.979933,...,3,3,3,3,4,5,2,2,5,8
9,Sweden,7.284,7.314,7.343,7.3535,7.363,1.494387,1.355,1.387,10.758794,...,16,16,17,8,8,6,6,6,8,9

In [227]:
Combined = Combined.sort_values("Freedom 2018", ascending=False).reset_index(drop=True)

Combined["Freedom Ranking 2018"]= Combined.index



Combined.head(10)

,Country,Ladder Score 2017,Ladder Score 2018,Ladder Score 2019,Ladder Score 2020,Ladder Score 2021,GDP 2017,GDP 2018,GDP 2019,GDP 2020,...,Life Expectancy Ranking 2019,Life Expectancy Ranking 2020,Life Expectancy Ranking 2021,Ladder Score Ranking 2017,Ladder Score Ranking 2018,Ladder Score Ranking 2019,Ladder Score Ranking 2020,Ladder Score Ranking 2021,Freedom Ranking 2017,Freedom Ranking 2018
0,Uzbekistan,5.971,6.096,6.174,6.2576,6.179,0.786441,0.719,0.745,8.740372,...,82,83,83,46,41,38,37,41,0,0
1,Cambodia,4.168,4.433,4.700,4.8484,4.830,0.601765,0.549,0.574,8.249890,...,101,104,101,128,114,102,102,108,2,1
2,Norway,7.537,7.594,7.554,7.4880,7.392,1.616463,1.456,1.488,11.087804,...,11,12,13,0,1,2,4,5,1,2
3,Denmark,7.522,7.555,7.600,7.6456,7.620,1.482383,1.351,1.383,10.774001,...,22,19,16,1,2,1,1,1,4,3
4,Finland,7.469,7.632,7.769,7.8087,7.842,1.443572,1.305,1.340,10.639267,...,26,27,27,4,0,0,0,0,6,4
5,Iceland,7.504,7.495,7.494,7.5045,7.554,1.480633,1.343,1.380,10.772559,...,12,15,15,2,3,3,3,3,3,5
6,Somalia,5.151,4.982,4.668,NaN,NaN,0.022643,0.000,0.000,NaN,...,140,150,150,92,93,105,149,149,12,6
7,New Zealand,7.314,7.324,7.307,7.2996,7.277,1.405706,1.268,1.303,10.500943,...,13,11,12,7,7,7,7,8,7,7
8,Switzerland,7.494,7.487,7.480,7.5599,7.571,1.564980,1.420,1.452,10.979933,...,3,3,3,3,4,5,2,2,5,8
9,Sweden,7.284,7.314,7.343,7.3535,7.363,1.494387,1.355,1.387,10.758794,...,16,16,17,8,8,6,6,6,8,9

In [228]:
Combined = Combined.sort_values("Freedom 2019", ascending=False).reset_index(drop=True)

Combined["Freedom Ranking 2019"]= Combined.index



Combined.head(10)

,Country,Ladder Score 2017,Ladder Score 2018,Ladder Score 2019,Ladder Score 2020,Ladder Score 2021,GDP 2017,GDP 2018,GDP 2019,GDP 2020,...,Life Expectancy Ranking 2020,Life Expectancy Ranking 2021,Ladder Score Ranking 2017,Ladder Score Ranking 2018,Ladder Score Ranking 2019,Ladder Score Ranking 2020,Ladder Score Ranking 2021,Freedom Ranking 2017,Freedom Ranking 2018,Freedom Ranking 2019
0,Uzbekistan,5.971,6.096,6.174,6.2576,6.179,0.786441,0.719,0.745,8.740372,...,83,83,46,41,38,37,41,0,0,0
1,Cambodia,4.168,4.433,4.700,4.8484,4.830,0.601765,0.549,0.574,8.249890,...,104,101,128,114,102,102,108,2,1,1
2,Norway,7.537,7.594,7.554,7.4880,7.392,1.616463,1.456,1.488,11.087804,...,12,13,0,1,2,4,5,1,2,2
3,United Arab Emirates,6.648,6.774,6.825,6.7908,6.561,1.626343,2.096,1.503,11.109999,...,63,59,20,19,20,20,24,10,126,3
4,Finland,7.469,7.632,7.769,7.8087,7.842,1.443572,1.305,1.340,10.639267,...,27,27,4,0,0,0,0,6,4,4
5,Denmark,7.522,7.555,7.600,7.6456,7.620,1.482383,1.351,1.383,10.774001,...,19,16,1,2,1,1,1,4,3,5
6,Iceland,7.504,7.495,7.494,7.5045,7.554,1.480633,1.343,1.380,10.772559,...,15,15,2,3,3,3,3,3,5,6
7,New Zealand,7.314,7.324,7.307,7.2996,7.277,1.405706,1.268,1.303,10.500943,...,11,12,7,7,7,7,8,7,7,7
8,Canada,7.316,7.328,7.278,7.2321,7.103,1.479204,1.330,1.365,10.692369,...,10,9,6,6,8,10,13,9,11,8
9,Sweden,7.284,7.314,7.343,7.3535,7.363,1.494387,1.355,1.387,10.758794,...,16,17,8,8,6,6,6,8,9,9

In [229]:
Combined = Combined.sort_values("Freedom 2020", ascending=False).reset_index(drop=True)

Combined["Freedom Ranking 2020"]= Combined.index



Combined.head(10)

,Country,Ladder Score 2017,Ladder Score 2018,Ladder Score 2019,Ladder Score 2020,Ladder Score 2021,GDP 2017,GDP 2018,GDP 2019,GDP 2020,...,Life Expectancy Ranking 2021,Ladder Score Ranking 2017,Ladder Score Ranking 2018,Ladder Score Ranking 2019,Ladder Score Ranking 2020,Ladder Score Ranking 2021,Freedom Ranking 2017,Freedom Ranking 2018,Freedom Ranking 2019,Freedom Ranking 2020
0,Uzbekistan,5.971,6.096,6.174,6.2576,6.179,0.786441,0.719,0.745,8.740372,...,83,46,41,38,37,41,0,0,0,0
1,Cambodia,4.168,4.433,4.700,4.8484,4.830,0.601765,0.549,0.574,8.249890,...,101,128,114,102,102,108,2,1,1,1
2,Norway,7.537,7.594,7.554,7.4880,7.392,1.616463,1.456,1.488,11.087804,...,13,0,1,2,4,5,1,2,2,2
3,Denmark,7.522,7.555,7.600,7.6456,7.620,1.482383,1.351,1.383,10.774001,...,16,1,2,1,1,1,4,3,5,3
4,Finland,7.469,7.632,7.769,7.8087,7.842,1.443572,1.305,1.340,10.639267,...,27,4,0,0,0,0,6,4,4,4
5,Iceland,7.504,7.495,7.494,7.5045,7.554,1.480633,1.343,1.380,10.772559,...,15,2,3,3,3,3,3,5,6,5
6,United Arab Emirates,6.648,6.774,6.825,6.7908,6.561,1.626343,2.096,1.503,11.109999,...,59,20,19,20,20,24,10,126,3,6
7,Vietnam,5.074,5.103,5.175,5.3535,5.411,0.788548,0.715,0.741,8.809546,...,50,93,90,88,81,77,24,23,22,7
8,Sweden,7.284,7.314,7.343,7.3535,7.363,1.494387,1.355,1.387,10.758794,...,17,8,8,6,6,6,8,9,9,8
9,New Zealand,7.314,7.324,7.307,7.2996,7.277,1.405706,1.268,1.303,10.500943,...,12,7,7,7,7,8,7,7,7,9

In [230]:
Combined = Combined.sort_values("Freedom 2021", ascending=False).reset_index(drop=True)

Combined["Freedom Ranking 2021"]= Combined.index



Combined.head(10)

,Country,Ladder Score 2017,Ladder Score 2018,Ladder Score 2019,Ladder Score 2020,Ladder Score 2021,GDP 2017,GDP 2018,GDP 2019,GDP 2020,...,Ladder Score Ranking 2017,Ladder Score Ranking 2018,Ladder Score Ranking 2019,Ladder Score Ranking 2020,Ladder Score Ranking 2021,Freedom Ranking 2017,Freedom Ranking 2018,Freedom Ranking 2019,Freedom Ranking 2020,Freedom Ranking 2021
0,Uzbekistan,5.971,6.096,6.174,6.2576,6.179,0.786441,0.719,0.745,8.740372,...,46,41,38,37,41,0,0,0,0,0
1,Norway,7.537,7.594,7.554,7.4880,7.392,1.616463,1.456,1.488,11.087804,...,0,1,2,4,5,1,2,2,2,1
2,Cambodia,4.168,4.433,4.700,4.8484,4.830,0.601765,0.549,0.574,8.249890,...,128,114,102,102,108,2,1,1,1,2
3,Iceland,7.504,7.495,7.494,7.5045,7.554,1.480633,1.343,1.380,10.772559,...,2,3,3,3,3,3,5,6,5,3
4,Slovenia,5.758,5.948,6.118,6.3634,6.461,1.341206,1.219,1.258,10.392323,...,61,48,41,32,28,23,18,12,10,4
5,Finland,7.469,7.632,7.769,7.8087,7.842,1.443572,1.305,1.340,10.639267,...,4,0,0,0,0,6,4,4,4,5
6,Denmark,7.522,7.555,7.600,7.6456,7.620,1.482383,1.351,1.383,10.774001,...,1,2,1,1,1,4,3,5,3,6
7,Sweden,7.284,7.314,7.343,7.3535,7.363,1.494387,1.355,1.387,10.758794,...,8,8,6,6,6,8,9,9,8,7
8,Vietnam,5.074,5.103,5.175,5.3535,5.411,0.788548,0.715,0.741,8.809546,...,93,90,88,81,77,24,23,22,7,8
9,Kyrgyzstan,5.004,5.131,5.261,5.5415,5.744,0.596220,0.530,0.551,8.148405,...,97,87,80,73,66,68,52,36,18,9

In [231]:
Combined = Combined.sort_values("Generosity 2017", ascending=False).reset_index(drop=True)

Combined["Generosity Ranking 2017"]= Combined.index



Combined.head(10)

,Country,Ladder Score 2017,Ladder Score 2018,Ladder Score 2019,Ladder Score 2020,Ladder Score 2021,GDP 2017,GDP 2018,GDP 2019,GDP 2020,...,Ladder Score Ranking 2018,Ladder Score Ranking 2019,Ladder Score Ranking 2020,Ladder Score Ranking 2021,Freedom Ranking 2017,Freedom Ranking 2018,Freedom Ranking 2019,Freedom Ranking 2020,Freedom Ranking 2021,Generosity Ranking 2017
0,Myanmar,4.545,4.308,4.360,4.3080,4.426,0.367111,0.682,0.710,8.680482,...,124,123,127,120,39,36,28,28,39,0
1,Indonesia,5.262,5.093,5.192,5.2856,5.345,0.995539,0.899,0.931,9.369752,...,91,86,82,80,74,54,47,40,43,1
2,Malta,6.527,6.627,6.726,6.7728,6.602,1.343280,1.270,1.300,10.533838,...,21,21,21,22,15,13,11,14,14,2
3,Thailand,6.424,6.072,6.008,5.9988,5.985,1.127869,1.016,1.050,9.741792,...,43,49,53,53,19,16,16,23,33,3
4,New Zealand,7.314,7.324,7.307,7.2996,7.277,1.405706,1.268,1.303,10.500943,...,7,7,7,8,7,7,7,9,12,4
5,Syria,3.462,3.462,3.462,NaN,NaN,0.777153,0.689,0.619,NaN,...,144,139,150,150,150,144,144,150,150,5
6,United Kingdom,6.714,7.190,7.054,7.1645,7.064,1.441634,1.244,1.333,10.600135,...,10,14,12,16,40,78,61,57,50,6
7,Sri Lanka,4.440,4.471,4.366,4.3270,4.325,1.009850,0.918,0.949,9.389970,...,110,122,125,123,27,33,54,55,57,7
8,Haiti,3.603,3.582,3.597,3.7208,3.615,0.368610,0.315,0.323,7.411329,...,142,137,135,135,152,148,143,143,133,8
9,Australia,7.284,7.272,7.228,7.2228,7.183,1.484415,1.340,1.372,10.720596,...,9,10,11,10,13,12,17,17,19,9

In [232]:
Combined = Combined.sort_values("Freedom 2018", ascending=False).reset_index(drop=True)

Combined["Freedom Ranking 2018"]= Combined.index



Combined.head(10)

,Country,Ladder Score 2017,Ladder Score 2018,Ladder Score 2019,Ladder Score 2020,Ladder Score 2021,GDP 2017,GDP 2018,GDP 2019,GDP 2020,...,Ladder Score Ranking 2018,Ladder Score Ranking 2019,Ladder Score Ranking 2020,Ladder Score Ranking 2021,Freedom Ranking 2017,Freedom Ranking 2018,Freedom Ranking 2019,Freedom Ranking 2020,Freedom Ranking 2021,Generosity Ranking 2017
0,Uzbekistan,5.971,6.096,6.174,6.2576,6.179,0.786441,0.719,0.745,8.740372,...,41,38,37,41,0,0,0,0,0,18
1,Cambodia,4.168,4.433,4.700,4.8484,4.830,0.601765,0.549,0.574,8.249890,...,114,102,102,108,2,1,1,1,2,22
2,Norway,7.537,7.594,7.554,7.4880,7.392,1.616463,1.456,1.488,11.087804,...,1,2,4,5,1,2,2,2,1,25
3,Denmark,7.522,7.555,7.600,7.6456,7.620,1.482383,1.351,1.383,10.774001,...,2,1,1,1,4,3,5,3,6,28
4,Finland,7.469,7.632,7.769,7.8087,7.842,1.443572,1.305,1.340,10.639267,...,0,0,0,0,6,4,4,4,5,70
5,Iceland,7.504,7.495,7.494,7.5045,7.554,1.480633,1.343,1.380,10.772559,...,3,3,3,3,3,5,6,5,3,10
6,Somalia,5.151,4.982,4.668,NaN,NaN,0.022643,0.000,0.000,NaN,...,93,105,149,149,12,6,13,147,147,47
7,New Zealand,7.314,7.324,7.307,7.2996,7.277,1.405706,1.268,1.303,10.500943,...,7,7,7,8,7,7,7,9,12,4
8,Switzerland,7.494,7.487,7.480,7.5599,7.571,1.564980,1.420,1.452,10.979933,...,4,5,2,2,5,8,10,15,16,48
9,Sweden,7.284,7.314,7.343,7.3535,7.363,1.494387,1.355,1.387,10.758794,...,8,6,6,6,8,9,9,8,7,23

In [233]:
Combined = Combined.sort_values("Freedom 2019", ascending=False).reset_index(drop=True)

Combined["Freedom Ranking 2019"]= Combined.index



Combined.head(10)

,Country,Ladder Score 2017,Ladder Score 2018,Ladder Score 2019,Ladder Score 2020,Ladder Score 2021,GDP 2017,GDP 2018,GDP 2019,GDP 2020,...,Ladder Score Ranking 2018,Ladder Score Ranking 2019,Ladder Score Ranking 2020,Ladder Score Ranking 2021,Freedom Ranking 2017,Freedom Ranking 2018,Freedom Ranking 2019,Freedom Ranking 2020,Freedom Ranking 2021,Generosity Ranking 2017
0,Uzbekistan,5.971,6.096,6.174,6.2576,6.179,0.786441,0.719,0.745,8.740372,...,41,38,37,41,0,0,0,0,0,18
1,Cambodia,4.168,4.433,4.700,4.8484,4.830,0.601765,0.549,0.574,8.249890,...,114,102,102,108,2,1,1,1,2,22
2,Norway,7.537,7.594,7.554,7.4880,7.392,1.616463,1.456,1.488,11.087804,...,1,2,4,5,1,2,2,2,1,25
3,United Arab Emirates,6.648,6.774,6.825,6.7908,6.561,1.626343,2.096,1.503,11.109999,...,19,20,20,24,10,126,3,6,11,26
4,Finland,7.469,7.632,7.769,7.8087,7.842,1.443572,1.305,1.340,10.639267,...,0,0,0,0,6,4,4,4,5,70
5,Denmark,7.522,7.555,7.600,7.6456,7.620,1.482383,1.351,1.383,10.774001,...,2,1,1,1,4,3,5,3,6,28
6,Iceland,7.504,7.495,7.494,7.5045,7.554,1.480633,1.343,1.380,10.772559,...,3,3,3,3,3,5,6,5,3,10
7,New Zealand,7.314,7.324,7.307,7.2996,7.277,1.405706,1.268,1.303,10.500943,...,7,7,7,8,7,7,7,9,12,4
8,Canada,7.316,7.328,7.278,7.2321,7.103,1.479204,1.330,1.365,10.692369,...,6,8,10,13,9,11,8,12,18,14
9,Sweden,7.284,7.314,7.343,7.3535,7.363,1.494387,1.355,1.387,10.758794,...,8,6,6,6,8,9,9,8,7,23

In [234]:
Combined = Combined.sort_values("Freedom 2020", ascending=False).reset_index(drop=True)

Combined["Freedom Ranking 2010"]= Combined.index



Combined.head(10)

,Country,Ladder Score 2017,Ladder Score 2018,Ladder Score 2019,Ladder Score 2020,Ladder Score 2021,GDP 2017,GDP 2018,GDP 2019,GDP 2020,...,Ladder Score Ranking 2019,Ladder Score Ranking 2020,Ladder Score Ranking 2021,Freedom Ranking 2017,Freedom Ranking 2018,Freedom Ranking 2019,Freedom Ranking 2020,Freedom Ranking 2021,Generosity Ranking 2017,Freedom Ranking 2010
0,Uzbekistan,5.971,6.096,6.174,6.2576,6.179,0.786441,0.719,0.745,8.740372,...,38,37,41,0,0,0,0,0,18,0
1,Cambodia,4.168,4.433,4.700,4.8484,4.830,0.601765,0.549,0.574,8.249890,...,102,102,108,2,1,1,1,2,22,1
2,Norway,7.537,7.594,7.554,7.4880,7.392,1.616463,1.456,1.488,11.087804,...,2,4,5,1,2,2,2,1,25,2
3,Denmark,7.522,7.555,7.600,7.6456,7.620,1.482383,1.351,1.383,10.774001,...,1,1,1,4,3,5,3,6,28,3
4,Finland,7.469,7.632,7.769,7.8087,7.842,1.443572,1.305,1.340,10.639267,...,0,0,0,6,4,4,4,5,70,4
5,Iceland,7.504,7.495,7.494,7.5045,7.554,1.480633,1.343,1.380,10.772559,...,3,3,3,3,5,6,5,3,10,5
6,United Arab Emirates,6.648,6.774,6.825,6.7908,6.561,1.626343,2.096,1.503,11.109999,...,20,20,24,10,126,3,6,11,26,6
7,Vietnam,5.074,5.103,5.175,5.3535,5.411,0.788548,0.715,0.741,8.809546,...,88,81,77,24,23,22,7,8,75,7
8,Sweden,7.284,7.314,7.343,7.3535,7.363,1.494387,1.355,1.387,10.758794,...,6,6,6,8,9,9,8,7,23,8
9,New Zealand,7.314,7.324,7.307,7.2996,7.277,1.405706,1.268,1.303,10.500943,...,7,7,8,7,7,7,9,12,4,9

In [235]:
Combined = Combined.sort_values("Freedom 2021", ascending=False).reset_index(drop=True)

Combined["Freedom Ranking 2021"]= Combined.index



Combined.head(10)

,Country,Ladder Score 2017,Ladder Score 2018,Ladder Score 2019,Ladder Score 2020,Ladder Score 2021,GDP 2017,GDP 2018,GDP 2019,GDP 2020,...,Ladder Score Ranking 2019,Ladder Score Ranking 2020,Ladder Score Ranking 2021,Freedom Ranking 2017,Freedom Ranking 2018,Freedom Ranking 2019,Freedom Ranking 2020,Freedom Ranking 2021,Generosity Ranking 2017,Freedom Ranking 2010
0,Uzbekistan,5.971,6.096,6.174,6.2576,6.179,0.786441,0.719,0.745,8.740372,...,38,37,41,0,0,0,0,0,18,0
1,Norway,7.537,7.594,7.554,7.4880,7.392,1.616463,1.456,1.488,11.087804,...,2,4,5,1,2,2,2,1,25,2
2,Cambodia,4.168,4.433,4.700,4.8484,4.830,0.601765,0.549,0.574,8.249890,...,102,102,108,2,1,1,1,2,22,1
3,Iceland,7.504,7.495,7.494,7.5045,7.554,1.480633,1.343,1.380,10.772559,...,3,3,3,3,5,6,5,3,10,5
4,Slovenia,5.758,5.948,6.118,6.3634,6.461,1.341206,1.219,1.258,10.392323,...,41,32,28,23,18,12,10,4,71,10
5,Finland,7.469,7.632,7.769,7.8087,7.842,1.443572,1.305,1.340,10.639267,...,0,0,0,6,4,4,4,5,70,4
6,Denmark,7.522,7.555,7.600,7.6456,7.620,1.482383,1.351,1.383,10.774001,...,1,1,1,4,3,5,3,6,28,3
7,Sweden,7.284,7.314,7.343,7.3535,7.363,1.494387,1.355,1.387,10.758794,...,6,6,6,8,9,9,8,7,23,8
8,Vietnam,5.074,5.103,5.175,5.3535,5.411,0.788548,0.715,0.741,8.809546,...,88,81,77,24,23,22,7,8,75,7
9,Kyrgyzstan,5.004,5.131,5.261,5.5415,5.744,0.596220,0.530,0.551,8.148405,...,80,73,66,68,52,36,18,9,15,18

In [239]:
Combined.to_csv(r'Resource\Combined_With_Rankings_15July2021.csv', index = False)